body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
}
header {
            background-color: #212121;
            color: white;
            padding: 1rem;
            text-align: center;
        }
        h1{
            color:chartreuse;
        }
nav {
            background-color: #35424a;
            color: white;
            padding: 0.5rem;
        }
nav ul {
            list-style-type: none;
            padding: 0;
        }
nav ul li {
            display: inline;
            margin-right: 10px;
        }
nav ul li a {
            color: white;
            text-decoration: none;
        }
.container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
        }
.main-content {
            float: left;
            width: 70%;
        }
 .sidebar {
            float: right;
            width: 30%;
            background-color: #f4f4f4;
            padding: 15px;
            box-sizing: border-box;
        }
footer {
            background-color: #35424a;
            color: white;
            text-align: center;
            padding: 1rem;
            clear: both;
    }
